{% extends "blog/base_template.html" %}

{% block content %}
    <div class="post-container">

        {% for post in post_list %}
            <article class="post-item">
                <a class="post-title" href="{% url 'post-detail' post.slug %}">
                    <h2>{{ post.title }}</h2>
                </a>
                <span class="post-detail">
                    <a class="post-category" href="{% url 'posts-by-category' post.category.name.lower %}" >{{ post.category }}</a>
                     /
                    <span class="post-date">
                    {{ post.last_modified_date.date }}
                    </span>
                </span>

                <p>
                    {{ post.body|safe|truncatewords:20 }}
                    <a class="post-readmore" href="{% url 'post-detail' post.slug %}">Read more</a>
                </p>

            </article>
        {% endfor %}
    </div>

{% endblock %}


