body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a, a:hover {
    text-decoration: none !important;
}

.post-detail {
    max-width: 800px;
    padding-right: 5%;
    padding-left: 5%;
}
.post-title {
    color: rgba(0,0,0,.7);
}

.post-title:hover {
    color: rgba(0,0,0,.5);
}

.post-tag {
    border: 1px solid #6c757d;
}
.post-tag:hover {
    color: #6c757d;
    background-color: transparent !important;
    border: 1px solid #6c757d;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa !important;
    text-align: center;
    margin-top: auto;
}
